<% content_for :breadcrumb do %>
  <div class="text-sm m-4">
    <a href="/collection_types/<%= @collection.collection_type.id %>"><%= @collection.collection_type.name %></a>
    <span>/</span>
    <%= @collection.name %>
  </div>
<% end %>

<div class="flex items-center justify-between flex-wrap">
  <div class="text-lg w-full block flex-grow lg:flex lg:items-center lg:w-auto">Collection items</div>
  <a href="/collection_items/new?collection_id=<%= @collection.id %>"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">Add Item</a>
  <a href="/collections/<%= @collection.id %>/edit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit Collection</a>
</div>

<ul class="list-none">
<% @collection.items.each do |item| %>
  <li
    class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
      <a href="/collection_items/<%= item.id %>"><%= item.name %></a>
  </li>
<% end %>
</ul>