<% content_for :breadcrumb do %>
  <div class="text-sm m-4">
    <a href="/collection_types/<%= @collection.collection_type.id %>"><%= @collection.collection_type.name %></a>
    <span>/</span>
    <%= @collection.name %>
  </div>
<% end %>

<% if user_signed_in? %>
  <% if current_user.user_collections.any? { |x| x.collection_id == @collection.id } %>
    You are collecting this collection.
    <a href="/collections/<%= @collection.id %>/uncollect">Stop collection</a>
  <% else %>
    <a href="/collections/<%= @collection.id %>/collect">Start collecting</a>
  <% end %>

  <div>
    Collection Progress:  <%= current_user.user_collection_items.select { |x| x.collection_item.collection == @collection }.count %> of <%= @collection.items.count %>
  </div>
<% end %>
<div class="flex items-center justify-between flex-wrap">
  <div class="text-lg w-full block flex-grow lg:flex lg:items-center lg:w-auto">Collection items</div>
  <% if user_signed_in? %>
    <%# only allow editing if user is the collection owner %>
    <% if @collection.creator == current_user %>
      <a href="/collection_items/new?collection_id=<%= @collection.id %>"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">Add Item</a>
      <a href="/collections/<%= @collection.id %>/bulk_create_items"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">Add Items</a>
      <a href="/collections/<%= @collection.id %>/edit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit Collection</a>
    <% end %>
  <% end %>
</div>


<% table_headers = ["Item", user_signed_in? ? "Collecting State" : nil].compact %>

<%= render "table", table_headers: table_headers do %>
  <%= render partial: "collection_item", collection: @collection.items.sort_by(&:name) %>
<% end %>
