<% content_for :breadcrumb do %>
  <div class="text-sm m-4">
    <a href="/collection_types/<%= @collection.collection_type.id %>"><%= @collection.collection_type.name %></a>
    <span>/</span>
    <%= @collection.name %>
  </div>
<% end %>

<% if user_signed_in? %>
  <% if current_user.user_collections.any? { |x| x.collection_id == @collection.id } %>
    You are collecting this collection.
    <a href="/collections/<%= @collection.id %>/uncollect">Stop collection</a>
  <% else %>
    <a href="/collections/<%= @collection.id %>/collect">Start collecting</a>
  <% end %>
<% end %>

<div class="flex items-center justify-between flex-wrap">
  <div class="text-lg w-full block flex-grow lg:flex lg:items-center lg:w-auto">Collection items</div>
  <a href="/collection_items/new?collection_id=<%= @collection.id %>"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">Add Item</a>
  <a href="/collections/<%= @collection.id %>/edit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit Collection</a>
</div>

<ul class="list-none">
<table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <% if user_signed_in? %><th class="px-6 py-3">Collecting State</th><% end %>
    <th class="px-6 py-3">Item</th>
  </thead>
  <tbody>
    <% @collection.items.each do |item| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <% if user_signed_in? %>
          <td class="px-6 py-4">
            <% if current_user.user_collection_items.any? { |x| x.collection_item_id == item.id } %>
              <span class="bg-green-100 sm:rounded px-2 py-2">Collected</span>
            <% else %>
              <span class="bg-red-100 sm:rounded px-2 py-2">Don't Have</span>
            <% end %>
          </td>
        <% end %>
        <td class="px-6 py-4"><a href="/collection_items/<%= item.id %>"><%= item.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>