<% collection_table_headers = ["Collection Name", user_signed_in? ? "Collecting State" : nil , "# Items", "Category"].compact %>
<% collection_items_table_headers = ["Item", "Collection Name", user_signed_in? ? "Collecting State" : nil, "Category"].compact %>

<p>Welcome to collection manager!</p>

<p>Some blurb about how to use it</p>

<% if user_signed_in? %>
  <h3 class="mb-4 mt-4 text-xl">Your Collections</h3>

  <div class="px-5 py-5">
    <%= render "table", table_headers: collection_table_headers.filter{|x| x != "Collecting State"} do %>
      <%= render partial: "collection", collection: current_user.user_collections.map{|x| x.collection}, locals: {skip_collection_state:true} %>
    <% end %>
  </div>
<% end %>

<h3 class="mb-4 mt-4 text-xl">Newest Collections</h3>

<div class="px-5 py-5">
  <%= render "table", table_headers: collection_table_headers do %>
    <%= render partial: "collection", collection: @collections %>
  <% end %>
</div>

<h3 class="mb-4 mt-4 text-xl">Newest Items</h3>
<div class="px-5 py-5">
  <%= render "table", table_headers: collection_items_table_headers do %>
    <%= render partial: "collection_item", collection: @collection_items %>
  <% end %>
</div>