<%= form_with model: @collection_item, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
  <div class="mb-6">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% @collection_item.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :collection, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.collection_select(:collection_id, Collection.all, :id, :name, {}, {class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6"}) %>
    <% @collection_item.errors.full_messages_for(:collection_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit(class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") %>
  </div>
<% end %>