<% content_for :breadcrumb do %>
  <div class="text-sm m-4">
    <a href="/collection_types/<%= @collection_item.collection.collection_type.id %>"><%= @collection_item.collection.collection_type.name %></a>
    <span>/</span>
    <a href="/collections/<%= @collection_item.collection.id %>"><%= @collection_item.collection.name %></a>
    <span>/</span>
    <%= @collection_item.name %>
  </div>
<% end %>

<% if user_signed_in? and @collection_item.creator == current_user %>
  <% if current_user.user_collection_items.any? { |x| x.collection_item_id == @collection_item.id } %>
    You have collected this item.
    <a href="/collection_items/<%= @collection_item.id %>/uncollect">Mark as not collected</a>
  <% else %>
    <a href="/collection_items/<%= @collection_item.id %>/collect">Mark as collected</a>
  <% end %>
<% end %>

<% if user_signed_in? %>
<a href="/collection_items/<%= @collection_item.id %>/edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</a>
<% end %>