<% content_for :breadcrumb do %>
    <div class="text-sm m-4">
      <a href="/collection_types/<%= @collection_item.collection.collection_type.id %>"><%= @collection_item.collection.collection_type.name %></a>
      <span>/</span>
      <%= @collection_item.collection.name %>
      <span>/</span>
      <%= @collection_item.name %>
    </div>
  <% end %>

<a href="/collection_items/<%= @collection_item.id %>/edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</a>